.columns > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.columns > div > div {
  flex: 1;
  min-width: 250px;
}

.columns img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.columns h3 {
  color: var(--nfl-red);
}

@media (width >= 600px) {
  .columns > div {
    flex-direction: row;
  }
}
