.columns > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.columns > div > div {
  flex: 1;
  order: 1;
}

.columns .columns-img-col {
  order: 0;
}

.columns .columns-img-col picture {
  display: block;
}

.columns .columns-img-col img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

@media (width >= 600px) {
  .columns > div {
    flex-direction: row;
    align-items: flex-start;
  }

  .columns > div > div {
    order: unset;
  }
}

@media (width >= 900px) {
  .columns > div {
    gap: 48px;
    align-items: center;
  }
}
