.hero {
  position: relative;
  padding: 32px 0;
}

.hero picture {
  display: block;
}

.hero picture img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero .hero-image {
  position: relative;
}

.hero .hero-content {
  padding: 16px;
}

.hero .hero-content h1 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-xxl);
  font-weight: 900;
  line-height: 1.1;
  margin: 0 0 16px;
}

.hero .hero-content p {
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

@media (width >= 600px) {
  .hero {
    padding: 48px 0;
  }
}

@media (width >= 900px) {
  .hero {
    min-height: 400px;
    display: flex;
    align-items: center;
  }

  .hero > div {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
  }

  .hero .hero-image,
  .hero .hero-content {
    flex: 1;
  }
}
